defaults
auth           on
tls            on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
logfile        /proc/self/fd/2

account        default
host           smtp.gmail.com
port           587
from           ${SMTP_USER}
user           ${SMTP_USER}
password       ${SMTP_PASS}
